/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body{
	width: 100%;
}

.main{
	margin: 5%;
}

.topLogo{
	display: none;
}

/*
Navbar
*/


*{
	max-width: 100%;
}

nav {
	display: flex;
	align-items: center;
}

nav a{
	color: grey;
	text-decoration: none;
}


nav{
display: flex;
justify-content: space-between;
width: 100%;
}




/*pagetop*/

.pageTop{
	display: flex;
	justify-content: space-evenly;
}

.innovation{
	text-align: center;
	font-size: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-evenly;
}

.innovation button{
	font-size: 20px;
	width: 50%;
	border: 2px inset black;
	background: white;
	margin-left: 25%;
}



.innovation button:active{
background: black;
color: white;
}



/*
Main Content CSS
*/

.content{
	border-top: solid black 2px;
	border-bottom: solid black 2px;
	font-family: 'Roboto Mono', monospace;
	padding: 2% 0;
}

.contentTop {
display: flex;
}

.middle-img{
	width: 100%;
	padding: 2% 0;
}

.contentBottom {
display: flex;
}

/*
Footer
*/

address h3{
	padding: 4% 0% 1% 0%;
}

address .phone{
	padding: 1% 0 0 0;
}

address .email{
	padding: 1% 0 1% 0;
}

footer{
	text-align: center;
	padding: 4%;
}

/*services*/

.services-header-img {
	width: 100%;
}

.servicesTop {
padding: 2% 0%;
border-bottom: black 2px solid;
}

.boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.boxes div{
	border: black solid 1px;
	background: #FEEBEB;
	width: 47%;
	margin: 5% 0;
	padding: 2%;
}

.boxes div div{
	padding: 1%;
	border: 0;
}

.boxes div button{
background: white;
color: black;
border: solid 1px black;
border-radius: 5px;
padding: 2%;
width: 70%;
}

#servicesFooter{
	text-align: left;
	border-top: solid black 2px;
	display: flex;
	justify-content: space-between;
	padding: 3% 0%;
}

#servicesFooter section{
padding: 5% 2% 0 0;
width: 50%;
}

ul{
	list-style-type: square;
	padding: 3% 0 0 5%;
}

#copyright{
	text-align: center;
	margin-top: 4%;
}
.services-info-img{
width: 50%;
}

@media (max-width: 800px){

 .topLogoDiv{
	 display: flex;
	 justify-content: center;
	 padding: 0 0 3% 0;
 }

 .topLogo{
	 display: block;
 }

 nav{
	 flex-flow: row wrap;
 }

 nav img{
	 display: none;
 }

 .img {
	 display: none;
 }

 .innovation {
	 margin: 5%;
 }
}

@media (max-width: 500px){
 body{ 
	 background-color: blue;
 }

}